<title>Instaclone</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<style type="text/css">
  body {
    background: #f9f9f9;
  }

  .form-control {
    background: #f9f9f9;
  }

  .header {
    font-size: 32px;
    line-height: 40px;
    font-weight: 200;
  }

  .nav {
    background-color: #fff
  }

  .main {
    margin-top: 64px;
  }

  .nav-logo {
    padding-top: 4px;
  }

  .post-container {
    margin-top: 24px;
    border: 1px solid #ededed;
    border-radius: 2px;
    backgroud: white"

  }

  .post-container img {
    max-width: 400px;
  }

  .profile_icon {
    border-radius: 50%;
    border: 2px solid #ededed;
  }

  .post {
    padding: 0px;
    margin-bottom: 14px;
    margin-top: 14px;
  }

  .post img {
    width: 100%
  }

  .search-container {
    padding: 10px;
  }
</style>