<nav class="nav navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <div class="nav-logo">
                    <a href="/">
                        <img src="https://lh3.googleusercontent.com/B1eFdhSxtA0SSzvGbs91vbS67bCJIQKJQ5s6AzYh5N2h-ucfEBPaJ97HuQEULKPlk9jQKGW2LI1mx3zTsg2Y5hCfaA">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="search-container">
                    <input class="form-control" type="text" placeholder="Search ..." />
                </div>
            </div>
        </div>
    </div>
</nav>