<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>nav}}

    <div class="container main ">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div style="text-align: center;">
                    <h2>There was an error: {{message}}</h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>